* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100vh;
    background-color: black;
}
#back {
    width: 100%;
    height: 100vh;
    background-color: black;
}
#top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
}

#working-area{
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    max-width: 1920px;
    /* border: 1px solid red; */
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

#nav img {
    height: 60px;
}

#nleft, #nright{
    display: flex;
    align-items: center;
    gap: 45px;
}

#nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    /* letter-spacing: 1px; */
    color: #fff;
    font-family: 'gilroy';
}

#hero{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;

}

#hero-left{
    min-width: 50%;
    background-color: yellow;
}
#hero-right{
    min-width: 25%;
    background-color: green;
}